---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import caseStudy from "@data/caseStudy.json";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;
---

<article>
  <header>
    <div class="header-img">
      <DynamicImage imagePath={image} altText={caseName} />
    </div>
    <div class="case-details">
      <dl>
        <div>
          <dt>Case Name</dt>
          <dd>{caseName}</dd>
        </div>
        <div>
          <dt>Category</dt>
          <dd class="category">{category}</dd>
        </div>
        <div>
          <dt>Date</dt>
          <dd class="date">{date}</dd>
        </div>
      </dl>
      <a href="#0" class="button">{buttonLabel}</a>
    </div>
  </header>
  {
    caseStudy.sections.map((section) => (
      <section>
        {caseStudy.sections[0] === section ? (
          <h2>{section.title}</h2>
        ) : (
          <h3>{section.title}</h3>
        )}

        {Array.isArray(section.content) ? (
          <>
            {section.content.map((item) => (
              <p>{item}</p>
            ))}
          </>
        ) : (
          <p>{section.content}</p>
        )}
        {section.highlights && (
          <ul>
            {section.highlights.map((highlight) => (
              <li>{highlight}</li>
            ))}
          </ul>
        )}
        {section.image && (
          <DynamicImage
            imagePath={section.image}
            altText={section.title}
            width={600}
            height={400}
          />
        )}
      </section>
    ))
  }
</article>

<style>
  @layer components {
    .header-img {
      border-radius: 20px;
      overflow: hidden;
    }

    .header-img :global(img) {
      width: 100%;
      height: auto;
      display: block;
    }

    article {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-block: var(--flow-space, 10rem);
    }

    section {
      display: flex;
      flex-direction: column;
      padding-inline: var(--space-2xl-3xl);
      padding-inline: var(--space-2xl);

      > * + * {
        margin-block-start: var(--flow-space, 2rem);
      }

      h2 {
        margin-top: 10rem;
        --flow-space: 2.5rem;
        font-size: var(--step-3);
        font-weight: var(--bold-font);
        color: var(--color-neutrals-900);
      }

      h3 {
        --flow-space: 2rem;
        font-size: var(--step-2);
        font-size: var(--step-2);
        font-weight: var(--bold-font);
        color: var(--color-neutrals-900);
      }

      p {
        --flow-space: 1.5rem;
        font-size: var(--step--1);
        color: var(--color-neutrals-700);
      }

      ul {
        color: var(--color-neutrals-700);
        --flow-space: 1.5rem;
      }

      li {
        margin-block-end: 0.5rem;
      }
    }

    @media (max-width: 800px) {
      header {
        width: 100%;
        height: auto;
      }
      .case-details dl {
        display: flex;
        flex-wrap: wrap;
      }
    }
    header {
      position: relative;
      display: grid;

      .case-details {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-neutrals-900);
        color: var(--color-neutrals-50);
        border-radius: 20px;
        padding: 2rem 4rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        max-height: fit-content;
        min-width: 90%;
        max-width: 1200px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

        dl {
          display: flex;
          gap: 4rem;

          div {
            display: flex;
            flex-direction: column;

            dt {
              font-weight: var(--bold-font);
              margin-bottom: 0.25rem;
            }

            dd {
              margin: 0;
            }
          }
        }

        .button {
          align-self: center;
          background-color: var(--color-surface-highlight);
          color: black;
          border-radius: 999px;
          padding: 0.75rem 1.5rem;
          text-decoration: none;
          font-weight: 500;
          transition: transform 0.3s ease;

          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
    article :global(img:last-of-type) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
