---
const { backgroundColor, textColor } = Astro.props;
import coreValues from "../data/coreValues.json";
import "../styles/tokens.css";
import DynamicImage from "../components/helpers/DynamicIcon.astro";
import ServiceHeader from "./ServiceHeader.astro";
---

<section style={`background-color: ${backgroundColor}; color: ${textColor};`}>
  <div class="header">
    <div class="text">
      <ServiceHeader
        eyebrow="Growing with our Clients"
        title="Our core values & principles"
        lede="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps."
      />
    </div>
    <a
      class="get-in-touch"
      href={coreValues.button.link}
      style={`background-color: ${textColor}; color: ${backgroundColor};`}
    >
      {coreValues.button.text}
    </a>
  </div>
  <aside>
    {
      coreValues.values.map((value) => (
        <div class="card">
          <DynamicImage name={value.icon} />
          <h3>{value.title}</h3>
          <p>{value.description}</p>
          <a class="read-more-btn" href={value.link.url}>
            {value.link.text}
          </a>
        </div>
      ))
    }
  </aside>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      > * {
        grid-column: content;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header .text {
      flex: 1 / 1;
    }
    section {
      background-color: var(--color-neutrals-50);
      padding: 100px;
    }
    aside {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--card-gap);
    }

    .card {
      background-color: white;
      line-height: var(--p-lineheight);
      padding: 24px;
      border-radius: var(--card-border);
      margin-top: var(--card-margin-top);
      display: flex;
      flex-direction: column;
      color: var(--color-neutrals-900);
      h3 {
        padding-block: 15px;
        font-size: var(--step-0);
        font-weight: var(--bold-font);
      }
      p {
        padding-block: 10px;
        color: var(--color-neutrals-700);
      }
    }
    .get-in-touch {
      text-decoration: none;
      color: var(--color-neutrals-50);
      background-color: var(--color-neutrals-900);
      padding: var(--btn-padding);
      border-radius: var(--btn-border);
    }
    .read-more-btn {
      color: var(--color-neutrals-900);
      background-color: transparent;
      text-decoration: none;
      margin-top: auto;
    }
    .read-more-btn::after {
      content: "→";
      display: inline-block;
      margin-left: 6px;
    }
  }
</style>
