---
import coreValues from "../data/coreValues.json";
---

<section class="core-values">
  <p class="eyebrow">{coreValues.eyebrow}</p>
  <h2>{coreValues.title}</h2>
  <p>{coreValues.subtitle}</p>

  <div class="values">
    {
      coreValues.values.map((value) => (
        <div class="core-value">
          <h3>{value.title}</h3>
          <p>{value.description}</p>
          <a href={value.link.url}>{value.link.text}</a>
        </div>
      ))
    }
  </div>

  <a href={coreValues.button.link}>
    {coreValues.button.text}
  </a>
</section>

<style>
  .core-values {
    background-color: var(--color-neutrals-400);
  }
</style>
